$clr--dark-cyan: #0e8784;
$clr--light-cyan: #66d2cf;
$clr--dark-gray-blue: #333d4b;
$clr--pale-orange: #fdd6ba;
$clr--light-cream: #fefcf7;
$clr--gray: #83888f;
$clr--light-gray: #eddedb;
$clr--default: #f4f1eb;
$clr--disabled: #e2dedb;
