@use '../abstracts/' as a;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');

$ff--fraunces: 'Fraunces', serif;
$ff--barlow: 'Barlow', sans-serif;

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: $ff--fraunces;
  @include a.breakpoint(tablet) {
    font-size: 3rem;
  }
  @include a.breakpoint(laptop) {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  font-family: $ff--fraunces;
  line-height: 2.5rem;
  @include a.breakpoint(laptop) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 1.75rem;
  font-weight: 900;
  font-family: $ff--fraunces;
}

h4 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: $ff--fraunces;
  line-height: 2rem;
}

//Button Text
h5 {
  font-size: 1.125rem;
  font-weight: 900;
  font-family: $ff--fraunces;
  line-height: 1.5625;
}

p {
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: $ff--barlow;
  line-height: 1.5625rem;
  @include a.breakpoint(laptop) {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}
