@use '../base/' as *;
@use '../abstracts/' as a;

.Commitment {
  width: 327px;
  height: 882px;
  margin-top: 120px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include a.breakpoint(tablet) {
    width: 689px;
    height: 470px;
    margin-top: 144px;
    flex-direction: row;
    justify-content: space-between;
  }
  @include a.breakpoint(laptop) {
    margin-top: 168px;
  }
  @include a.breakpoint(desktop) {
    width: 1110px;
    height: 520px;
  }
  & .viewport {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-image: url('../assets/about/desktop/image-commitment.jpg');
    margin-bottom: 48px;
    @include a.breakpoint(tablet) {
      width: 281px;
      height: 470px;
      margin-bottom: 0;
      background-image: url('../assets/about/tablet/image-commitment.jpg');
    }
    @include a.breakpoint(desktop) {
      width: 445px;
      height: 520px;
      margin-bottom: 0;
      background-image: url('../assets/about/desktop/image-commitment.jpg');
    }
  }
  & .text-box {
    width: 100%;
    height: 434px;
    color: $clr--dark-gray-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    @include a.breakpoint(tablet) {
      width: 339px;
      height: 453px;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }
    @include a.breakpoint(desktop) {
      width: 538px;
      height: 340px;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }
    & .title {
      @include a.breakpoint(tablet) {
        margin-bottom: 30px;
      }
      & h2 {
        @include a.breakpoint(laptop) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
        @include a.breakpoint(desktop) {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
    }
  }
  & .blurb-box {
    & p {
      @include a.breakpoint(laptop) {
        font-size: 0.9375rem;
      }
      @include a.breakpoint(desktop) {
        font-size: 1rem;
      }
    }
  }
}
