@use '../base/' as *;
@use '../abstracts/' as a;

.Footer {
  width: 100%;
  height: 346px;
  margin-top: 120px;
  margin-bottom: 72px;
  @include a.breakpoint(tablet) {
    height: 270px;
    margin-top: 72px;
  }
  @include a.breakpoint(laptop) {
    height: 120px;
    margin-top: 168px;
    margin-bottom: 88px;
  }
  & .footer-container {
    width: 327px;
    height: 346px;
    margin-inline: auto;
    background: $clr--dark-gray-blue;
    padding: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include a.breakpoint(tablet) {
      width: 688px;
      height: 270px;
      padding: 54px 190px 54px 215px;
    }
    @include a.breakpoint(laptop) {
      width: a.$width-lap;
      height: 120px;
      padding: 47px 85px;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
    @include a.breakpoint(desktop) {
      width: a.$width-desk;
    }
    & .NavLinks {
      width: 122px;
      height: 93px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include a.breakpoint(tablet) {
        flex-direction: row;
        width: 283px;
        height: 15px;
        margin-bottom: 32px;
      }
      @include a.breakpoint(laptop) {
        margin-bottom: 0;
        margin-right: 48px;
      }
      @include a.breakpoint(desktop) {
        margin-right: 267px;
      }
      & .nav-link {
        font-family: $ff--barlow;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 0.92px;
        line-height: 0.9375rem;
        text-transform: uppercase;
        & a {
          color: $clr--gray;
          text-decoration: none;
          &:hover {
            color: $clr--light-cream;
          }
        }
      }
    }
    & .Socials {
      width: 120px;
      height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & .social-item {
        & a {
          & img {
            width: 24px;
            height: 24px;
            &:hover {
              transform: scale(1.2);
              filter: brightness(0) saturate(100%) invert(88%) sepia(17%)
                saturate(906%) hue-rotate(316deg) brightness(102%)
                contrast(103%);
            }
          }
        }
      }
    }
  }
}
