@use '../base/' as *;
@use '../abstracts/' as a;

@-webkit-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Plans {
  width: 327px;
  height: fit-content;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    & .plan-box {
      width: 100%;
      height: fit-content;
      margin-bottom: 110px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
      & .question {
        width: 100%;
        color: $clr--gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
        &.disable {
          color: $clr--disabled;
          cursor: default;

          &#question14 {
            & .arrow {
              &.rotate {
                transform: rotate(0);
              }
              & svg {
                & path {
                  &#disable {
                    fill: $clr--light-cyan;
                  }
                }
              }
            }
          }
        }
        & h4 {
          width: 240px;
        }
        & .arrow {
          transition: all 300ms ease-in-out;

          &.rotate {
            transform: rotateZ(180deg);
          }
        }
      }

      & .option-items {
        display: none;
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        transition: all 1000ms ease-in-out;
        &.option11 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 1000ms ease-in-out;
            -moz-animation: SHOW-BOX 1000ms ease-in-out;
            animation: SHOW-BOX 1000ms ease-in-out;
          }
        }
        &.option12 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 1000ms ease-in-out;
            -moz-animation: SHOW-BOX 1000ms ease-in-out;
            animation: SHOW-BOX 1000ms ease-in-out;
          }
        }
        &.option13 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 1000ms ease-in-out;
            -moz-animation: SHOW-BOX 1000ms ease-in-out;
            animation: SHOW-BOX 1000ms ease-in-out;
          }
        }
        &.option14 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 1000ms ease-in-out;
            -moz-animation: SHOW-BOX 1000ms ease-in-out;
            animation: SHOW-BOX 1000ms ease-in-out;
          }
          &.disable {
            display: none;
          }
        }
        &.option15 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 1000ms ease-in-out;
            -moz-animation: SHOW-BOX 1000ms ease-in-out;
            animation: SHOW-BOX 1000ms ease-in-out;
          }
        }
      }
      & .option-card {
        position: relative;
        width: 327px;
        height: 140px;
        margin-bottom: 26px;
        background: $clr--default;
        color: $clr--dark-gray-blue;
        border-radius: 8px;
        transition: all 200ms ease-in-out;
        & input[type='radio'] {
          display: none;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          background: $clr--pale-orange;
        }
        & input[type='radio']:checked + label {
          position: absolute;
          top: 0;
          height: 140px;
          background-color: $clr--dark-cyan;
          color: $clr--light-cream;
          border-radius: 8px;
        }

        & .option-label {
          width: 327px;
          height: 60px;
          padding: 24px 25px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          & .option-card-title {
            font-family: $ff--fraunces;
            font-size: 1.75rem;
            font-weight: 900;
            line-height: 2rem;
            margin-bottom: 8px;
          }
          & .option-card-description {
            font-family: $ff--barlow;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
          }
        }
      }
    }
  }
}
