@use '../base/' as *;
@use '../abstracts/' as a;

@-webkit-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Plans {
  width: 327px;
  height: fit-content;
  margin-inline: auto;
  @include a.breakpoint(tablet) {
    width: 100%;
  }
  @include a.breakpoint(laptop) {
    width: 730px;
    margin-inline: unset;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include a.breakpoint(laptop) {
      align-items: flex-end;
    }
    & .plan-box {
      width: 100%;
      height: fit-content;
      margin-bottom: 96px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include a.breakpoint(laptop) {
        &#plan15 {
          margin-bottom: 0;
        }
      }

      & .question {
        width: 100%;
        color: $clr--gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
        &.disable {
          color: $clr--disabled;
          cursor: default;

          &#question14 {
            & .arrow {
              &.rotate {
                transform: rotate(0);
              }
              & img {
                //fill: $clr--light-cyan;
                filter: brightness(0) saturate(100%) invert(79%) sepia(97%)
                  saturate(2062%) hue-rotate(152deg) brightness(88%)
                  contrast(84%);
              }
            }
          }
        }
        & h4 {
          width: 240px;
          @include a.breakpoint(tablet) {
            width: fit-content;
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        & .arrow {
          transition: all 500ms ease-in-out;

          &.rotate {
            transform: rotateZ(540deg);
          }
        }
      }

      & .option-items {
        display: none;
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        transition: all 500ms ease-in-out;
        @include a.breakpoint(tablet) {
          width: 689px;
          flex-direction: row;
          margin-top: 40px;
        }
        @include a.breakpoint(laptop) {
          width: 581px;
        }
        @include a.breakpoint(desktop) {
          width: 730px;
        }
        &.option11 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 500ms ease-in-out;
            -moz-animation: SHOW-BOX 500ms ease-in-out;
            animation: SHOW-BOX 500ms ease-in-out;
          }
        }
        &.option12 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 500ms ease-in-out;
            -moz-animation: SHOW-BOX 500ms ease-in-out;
            animation: SHOW-BOX 500ms ease-in-out;
          }
        }
        &.option13 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 500ms ease-in-out;
            -moz-animation: SHOW-BOX 500ms ease-in-out;
            animation: SHOW-BOX 500ms ease-in-out;
          }
        }
        &.option14 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 500ms ease-in-out;
            -moz-animation: SHOW-BOX 500ms ease-in-out;
            animation: SHOW-BOX 500ms ease-in-out;
          }
          &.disable {
            display: none;
          }
        }
        &.option15 {
          &.open {
            display: flex;
            -webkit-animation: SHOW-BOX 500ms ease-in-out;
            -moz-animation: SHOW-BOX 500ms ease-in-out;
            animation: SHOW-BOX 500ms ease-in-out;
          }
        }
      }
      & .option-card {
        position: relative;
        width: 327px;
        height: 140px;
        margin-bottom: 26px;
        background: $clr--default;
        color: $clr--dark-gray-blue;
        border-radius: 8px;
        transition: all 200ms ease-in-out;
        @include a.breakpoint(tablet) {
          width: 223px;
          height: 250px;
          margin-bottom: 0;
        }
        @include a.breakpoint(laptop) {
          width: 186px;
          height: 212px;
        }
        @include a.breakpoint(desktop) {
          width: 228px;
          height: 250px;
        }
        & input[type='radio'] {
          display: none;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          background: $clr--pale-orange;
        }
        & input[type='radio']:checked + label {
          position: absolute;
          top: 0;
          height: 140px;
          background-color: $clr--dark-cyan;
          color: $clr--light-cream;
          border-radius: 8px;
          @include a.breakpoint(tablet) {
            height: 250px;
          }
          @include a.breakpoint(laptop) {
            height: 212px;
          }
          @include a.breakpoint(desktop) {
            height: 250px;
          }
        }

        & .option-label {
          width: 327px;
          height: 60px;
          padding: 24px 25px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          @include a.breakpoint(tablet) {
            width: 223px;
            padding: 32px 25px 84px 25px;
          }
          @include a.breakpoint(laptop) {
            width: 186px;
            padding: 32px 18px 0px 18px;
          }
          @include a.breakpoint(desktop) {
            width: 228px;
            padding: 32px 28px 0px 28px;
          }
          & .option-card-title {
            font-family: $ff--fraunces;
            font-size: 1.75rem;
            font-weight: 900;
            line-height: 2rem;
            margin-bottom: 8px;
            @include a.breakpoint(tablet) {
              margin-bottom: 24px;
              font-size: 1.5rem;
            }
            @include a.breakpoint(laptop) {
              margin-bottom: 16px;
              font-size: 1.25rem;
            }
            @include a.breakpoint(desktop) {
              margin-bottom: 24px;
              font-size: 1.5rem;
              line-height: 2rem;
            }
          }
          & .option-card-description {
            font-family: $ff--barlow;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
          }
        }
      }
    }
  }
}
