@use '../base/' as *;
@use '../abstracts/' as a;

.Summary {
  width: 327px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $clr--dark-gray-blue;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 56px;
  @include a.breakpoint(tablet) {
    width: 689px;
    margin-top: 144px;
    margin-bottom: 40px;
  }
  @include a.breakpoint(laptop) {
    margin-top: 88px;
  }
  @include a.breakpoint(laptop) {
    width: 730px;
  }
  & .container {
    width: 100%;
    height: fit-content;
    padding: 32px 25px;
    @include a.breakpoint(tablet) {
      padding: 27px 44px;
    }
    @include a.breakpoint(desktop) {
      padding: 27px 64px;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    & .title {
      margin-bottom: 8px;
      & p {
        font-size: 1rem;
        line-height: 1.625rem;
        color: $clr--gray;
        text-transform: uppercase;
      }
    }
    & .blurb-box {
      h4 {
        line-height: 2.5rem;
        color: $clr--light-cream;
        & .filler {
          color: $clr--dark-cyan;
        }
        & .grind-summary {
          &.disable {
            display: none;
          }
        }
      }
    }
  }
}
